.faq {
    display: flex;
    flex-flow: column wrap;
}

.faq__mapa {
    width: 300px;
    height: 200px;
    margin: 20px auto;
    border-radius: 5px;
    display: block;
}

.faq__anchor,
.faq__anchor:visited {
    text-decoration: underline;
    color: #faebd7;
}
